@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/* 
 * Base Rules
 *
 A Base rule is applied to an element using an element selector, a descendent selector, or a child selector, along with any pseudo-classes. It doesnΓÇÖt include any class or ID selectors. It is defining the default styling for how that element should look in all occurrences on the page.
 *
 */
/* fonts

Example Usage:
*/
/*
    @font-face{
        font-family:"Sofia Pro Light";
        src:url("../assets/fonts/0eaf6264-15ee-4251-826e-9c0a59e8395f.eot?#iefix");
        src:url("../assets/fonts/0eaf6264-15ee-4251-826e-9c0a59e8395f.eot?#iefix") format("eot"),url("../assets/fonts/8d11b8a0-868c-4a53-8b26-9f0ccbd58247.woff2") format("woff2"),url("../assets/fonts/9b976f15-23b7-45cd-ad4b-59c95b2889f9.woff") format("woff"),url("../assets/fonts/864da3de-5a97-4ce6-a22b-22932ed4dfe0.ttf") format("truetype"),url("../assets/fonts/d5898683-1b2a-4b1b-8058-0c8db30e40cf.svg#d5898683-1b2a-4b1b-8058-0c8db30e40cf") format("svg");
    }
*/
@font-face {
  font-family: RobotoBlack;
  src: url("../../fonts/Roboto-Black.woff"); }
@font-face {
  font-family: RoshiRegular;
  src: url("../../fonts/13-Roshi-Regular.woff"); }
/* Fonts*/
/* Colors */
/* Colors + Use Cases */
/* Responsive Breakpoints */
/* Default Padding */
/*$padding: 1.5em;*/
/* Widths */
/*$wrapper-pixel-width: 650px;
$wrapper-percent-width: 90%;
*/
/* mixins */
body {
  background-color: #eee;
  color: #111;
  font-family: RobotoBlack, "Raleway", sans-serif;
  font-size: 20px;
  font-weight: "400"; }

.ovverride {
  margin-right: 0px;
  margin-left: 0px;
  padding-left: 0px;
  padding-right: 0px; }

h1 {
  color: #333;
  font-size: 2em;
  font-weight: "300"; }

h2 {
  color: #333;
  font-size: 1.75em;
  font-weight: "400"; }

h3 {
  color: #333;
  font-size: 1.5em;
  font-weight: "500"; }

h4 {
  color: #333;
  font-size: 1.25em;
  font-weight: "700"; }

h5 {
  color: #333; }

p {
  color: #004A97;
  font-size: 1em; }

a {
  color: #ff0000; }

img {
  width: 90%; }

/* 
 * Layout Rules
 *
 The major components, such as header, footer, articles.
 *
 */
.hero {
  padding: 35px 0;
  background-image: url("../img/HeaderImage.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer; }

/*header {
}

.hero {

}*/
.topnav {
  text-transform: uppercase;
  text-align: center;
  background-color: #8226df;
  color: #000;
  padding: 10px 0px;
  border: 1px solid #dddddd;
  cursor: pointer; }

.audioInterface {
  text-align: center;
  padding: 15px 0px; }

/*nav {

}

nav ul {
	margin: 0;
    padding: 0;
    list-style-type: none;
}

nav li {
	display: inline;
    height: 30px;
    margin-left: 10px;
}*/
.playbutton {
  cursor: pointer;
  width: 30px; }

.boardButtons {
  width: 30px;
  height: 30px;
  cursor: pointer; }

.sequencerTitle {
  font-family: RoshiRegular; }

.sequencer {
  margin: 20px;
  text-align: center; }

.board {
  margin: 10px 10px; }

.volumeButton {
  width: 30px; }

.boardColor {
  background-color: #44A3E2;
  padding-bottom: 50px; }

.nav a {
  color: #fff;
  text-decoration: none;
  display: block;
  line-height: 40px;
  padding: 0 12px;
  margin: 0 12px; }

.nav a:hover,
.nav a:focus,
.nav a:active {
  color: #444; }

.nav-item {
  position: absolute;
  left: 20px; }

.nav li li a {
  border-bottom: solid 1px #444;
  padding: 0; }

.nav li li:last-child a {
  border-bottom: none; }

ul.sub-menu {
  display: none; }

.search-bar {
  display: inline-block; }

.circle-plus {
  height: 1em;
  width: 1em;
  font-size: 0.25em; }

.circle-plus .circle {
  position: relative;
  top: 3px;
  left: 141px;
  width: 6em;
  height: 6em;
  border-radius: 100%;
  border: solid .8em #DFDAD7; }

.circle {
  transition: 1s ease-in-out; }

.circle-plus-horizontal {
  position: absolute;
  background-color: #DFDAD7;
  width: 2.45em;
  height: 0.85em;
  top: 1.8em;
  left: 1em;
  transition: 1s ease-in-out; }

.circle-plus-vertical {
  position: absolute;
  cursor: pointer;
  background-color: #DFDAD7;
  width: 0.85em;
  height: 2.45em;
  top: 1em;
  left: 1.8em;
  transition: 1s ease-in-out; }

.circle-plus-horizontal.active {
  -webkit-transform: rotateZ(405deg);
  transform: rotateZ(405deg);
  /*animation: tutsRotate 1s 0s;*/ }

.circle-plus-vertical.active {
  -webkit-transform: rotateZ(405deg);
  transform: rotateZ(405deg);
  /*animation: tutsRotate 1s 0s;*/ }

/*
 .circle-plus:hover .circle-plus-horizontal {
   -webkit-transform: rotateZ(405deg);
-moz-transform: rotateZ(405deg);
-o-transform: rotateZ(405deg);
-ms-transform: rotateZ(405deg);
transform: rotateZ(405deg);
/*animation: tutsRotate 1s 0s;
 }
 */
.circle.active {
  -webkit-transform: translate(97.7em);
  transform: translate(97.7em); }

.circle-plus.active .circle-plus-vertical {
  -webkit-transform: rotateZ(405deg);
  transform: rotateZ(405deg);
  /*-webkit-transform: translate(300px);
  -moz-transform: translate(300px);
  -o-transform: translate(300px);
  -ms-transform: translate(300px);
  transform: translate(300px);*/ }

/*section {

}

article {

}
.l-constrained {
    max-width: $wrapper-pixel-width;
    margin: 0 auto;
}
.l-fluid {
	max-width: $wrapper-percent-width;
}*/
.sidebar {
  margin-top: 75px; }

.helper {
  text-align: left;
  margin: 10px 20px 30px 0px;
  font-size: 1.5em; }

/*footer {

}*/
/*
 * Module Rules
 *
 A Module is a more discrete component of the page. It is your navigation bars and your carousels and your
 dialogs and your widgets and so on. This is the meat of the page. Modules sit inside Layout components.
 Modules can sometimes sit within other Modules, too. Each Module should be designed to exist as a
 standalone component.
 *
 */
.button {
  padding-top: 8px;
  margin: 25px 25px 25px;
  background-color: #951c99;
  width: 250px;
  color: #fff;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  transition: 1s ease-in-out; }

.dropDown {
  position: absolute;
  top: 0px;
  right: 0px;
  border-radius: 5px;
  border: 2px solid black;
  width: 35px; }

#loop-playsBorder {
  border-radius: 5px;
  border: 2px solid black;
  cursor: pointer;
  position: absolute;
  left: 0px;
  top: 0px;
  padding: 4px 2px 2px 3px;
  width: 35px;
  transition: 1s ease-in-out; }

/*.button {
	background-color: $cButton;
	cursor: pointer;
	display: block;
	padding: 20px;
	width: 200px;
	height: 40px;
}*/
/* 
 * State Rules
 A state is something that augments and overrides all other styles. For example, an accordion section may be in a collapsed or expanded state. A message may be in a success or error state.
 *
 */
/* ==========================================================================
   Media Queries
   ========================================================================== */
/* Desktop */
/* Tablet */
/* Mobile */
/* Smaller Mobile */
/* Specific Mobile Device Media Queries */
/* ----------- iPhone 6+ ----------- */
/* Portrait and Landscape */
/* ----------- iPhone 6 ----------- */
/* Portrait and Landscape */
/* ----------- Galaxy S5 / Android ----------- */
/* Portrait and Landscape */
/* ----------- iPhone 5 and 5S ----------- */
/* Portrait and Landscape */
/* ----------- iPhone 4 and 4S ----------- */
/* Portrait and Landscape */
.currentInterface {
  background-color: #44A3E2;
  border-color: #7DC471;
  border-style: solid;
  border-width: 1px 1px 0px 0;
  border-top-right-radius: .5em; }

/*.error {
	background-color: $cRed;.
.ok {
	background-color: $cGreen;
}*/
.centerPlz {
  text-align: center; }

.tester {
  margin: 50px;
  width: 12%; }

.button:hover + .tester {
  -webkit-transform: rotateX(360deg) translate(3em, 0);
  transform: rotateZ(360deg) translate(3em, 0); }


