.hero {
 padding: 35px 0;
 background-image: url("../img/HeaderImage.jpg");
 background-size: 100%;
 background-position: center;
 background-repeat: no-repeat;
 cursor: pointer;
}

/*header {
}

.hero {

}*/
