.currentInterface{
	  background-color: #44A3E2;
		border-color: #7DC471;
  	border-style: solid;
  	border-width: 1px 1px 0px 0;
		border-top-right-radius:.5em;
}

/*.error {
	background-color: $cRed;.
.ok {
	background-color: $cGreen;
}*/
