@import "compass/css3";
@import "compass/reset";

@import "base";
@import "layout";
@import "modules";
@import "state";


.centerPlz{
   text-align: center;
}

.tester{
 margin:50px;
 width:12%;
}

.button:hover + .tester{
 -webkit-transform: rotateX(360deg) translate(3em,0);
 -moz-transform: rotateX(360deg) translate(3em,0);
 -o-transform: rotateY(360deg) translate(3em,0);
 -ms-transform: rotateY(360deg) translate(3em,0);
 transform: rotateZ(360deg) translate(3em,0);
}

.category {
}
