/* Fonts*/
$fBody: 'Raleway';
$fLight: '300';
$fNormal: '400';
$fMedium: '500';
$fBold: '700';

$circleHeight: 1em;
$circlewidth: 1em;
$iconSize: .25em;
$topHoriLeftVert: 1.8em;
$topVertLeftHori: 1em;
$widthHoriHeightVert: 2.45em;
$widthVertHeightHori: .85em;
$circleTranslate: 97.7em;

/* Colors */
$cBlack: #111;
$cLightGrey: #eee;
$cGrey: #333;
$cRed: #ff0000;
$cGreen: #00ff00;
$cBlue: #0000ff;
$cWhite: #a1a1a1;
$cPink: #FF25A9;

/* Colors + Use Cases */
$cBody: $cBlack;
$cHeadline: $cGrey;
$cParagraph: #004A97;
$cLink: $cRed;
$cHover: $cBlue;
$cBackground: $cLightGrey;
$cButton: $cWhite;

/* Responsive Breakpoints */
$bpMobile: 768px;
$bpTablet: 992px;
$bpDesktop: 1200px;

/* Default Padding */
/*$padding: 1.5em;*/

/* Widths */
/*$wrapper-pixel-width: 650px;
$wrapper-percent-width: 90%;
*/
